    /*
    Flaticon icon font: Flaticon
    Creation date: 09/10/2018 13:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-arrows:before { content: "\f100"; }
.flaticon-002-insignia:before { content: "\f101"; }
.flaticon-003-podium:before { content: "\f102"; }
.flaticon-004-billiard:before { content: "\f103"; }
.flaticon-005-bomb:before { content: "\f104"; }
.flaticon-006-bowling:before { content: "\f105"; }
.flaticon-007-cards:before { content: "\f106"; }
.flaticon-008-diamond:before { content: "\f107"; }
.flaticon-009-diamond-1:before { content: "\f108"; }
.flaticon-010-dices:before { content: "\f109"; }
.flaticon-011-gamepad:before { content: "\f10a"; }
.flaticon-012-gameboy:before { content: "\f10b"; }
.flaticon-013-console:before { content: "\f10c"; }
.flaticon-014-game-console:before { content: "\f10d"; }
.flaticon-015-game-console-1:before { content: "\f10e"; }
.flaticon-016-joystick:before { content: "\f10f"; }
.flaticon-017-gamepad-1:before { content: "\f110"; }
.flaticon-018-controler:before { content: "\f111"; }
.flaticon-019-joystick-1:before { content: "\f112"; }
.flaticon-020-game-controller:before { content: "\f113"; }
.flaticon-021-keyboard:before { content: "\f114"; }
.flaticon-022-gift:before { content: "\f115"; }
.flaticon-023-gun:before { content: "\f116"; }
.flaticon-024-hammer:before { content: "\f117"; }
.flaticon-025-hearts:before { content: "\f118"; }
.flaticon-026-rocket:before { content: "\f119"; }
.flaticon-027-joystick-2:before { content: "\f11a"; }
.flaticon-028-joystick-3:before { content: "\f11b"; }
.flaticon-029-keys:before { content: "\f11c"; }
.flaticon-030-keys-1:before { content: "\f11d"; }
.flaticon-031-magic-potion:before { content: "\f11e"; }
.flaticon-032-memory-card:before { content: "\f11f"; }
.flaticon-033-ghosts:before { content: "\f120"; }
.flaticon-034-mouse:before { content: "\f121"; }
.flaticon-035-pacman:before { content: "\f122"; }
.flaticon-036-gaming:before { content: "\f123"; }
.flaticon-037-pinball:before { content: "\f124"; }
.flaticon-038-puzzle:before { content: "\f125"; }
.flaticon-039-remote-control:before { content: "\f126"; }
.flaticon-040-shield:before { content: "\f127"; }
.flaticon-041-excalibur:before { content: "\f128"; }
.flaticon-042-swords:before { content: "\f129"; }
.flaticon-043-target:before { content: "\f12a"; }
.flaticon-044-tetris:before { content: "\f12b"; }
.flaticon-045-tic-tac-toe:before { content: "\f12c"; }
.flaticon-046-treasure:before { content: "\f12d"; }
.flaticon-047-video-game:before { content: "\f12e"; }
.flaticon-048-videogame:before { content: "\f12f"; }
.flaticon-049-videogame-1:before { content: "\f130"; }
.flaticon-050-videogame-2:before { content: "\f131"; }
    
    $font-Flaticon-001-arrows: "\f100";
    $font-Flaticon-002-insignia: "\f101";
    $font-Flaticon-003-podium: "\f102";
    $font-Flaticon-004-billiard: "\f103";
    $font-Flaticon-005-bomb: "\f104";
    $font-Flaticon-006-bowling: "\f105";
    $font-Flaticon-007-cards: "\f106";
    $font-Flaticon-008-diamond: "\f107";
    $font-Flaticon-009-diamond-1: "\f108";
    $font-Flaticon-010-dices: "\f109";
    $font-Flaticon-011-gamepad: "\f10a";
    $font-Flaticon-012-gameboy: "\f10b";
    $font-Flaticon-013-console: "\f10c";
    $font-Flaticon-014-game-console: "\f10d";
    $font-Flaticon-015-game-console-1: "\f10e";
    $font-Flaticon-016-joystick: "\f10f";
    $font-Flaticon-017-gamepad-1: "\f110";
    $font-Flaticon-018-controler: "\f111";
    $font-Flaticon-019-joystick-1: "\f112";
    $font-Flaticon-020-game-controller: "\f113";
    $font-Flaticon-021-keyboard: "\f114";
    $font-Flaticon-022-gift: "\f115";
    $font-Flaticon-023-gun: "\f116";
    $font-Flaticon-024-hammer: "\f117";
    $font-Flaticon-025-hearts: "\f118";
    $font-Flaticon-026-rocket: "\f119";
    $font-Flaticon-027-joystick-2: "\f11a";
    $font-Flaticon-028-joystick-3: "\f11b";
    $font-Flaticon-029-keys: "\f11c";
    $font-Flaticon-030-keys-1: "\f11d";
    $font-Flaticon-031-magic-potion: "\f11e";
    $font-Flaticon-032-memory-card: "\f11f";
    $font-Flaticon-033-ghosts: "\f120";
    $font-Flaticon-034-mouse: "\f121";
    $font-Flaticon-035-pacman: "\f122";
    $font-Flaticon-036-gaming: "\f123";
    $font-Flaticon-037-pinball: "\f124";
    $font-Flaticon-038-puzzle: "\f125";
    $font-Flaticon-039-remote-control: "\f126";
    $font-Flaticon-040-shield: "\f127";
    $font-Flaticon-041-excalibur: "\f128";
    $font-Flaticon-042-swords: "\f129";
    $font-Flaticon-043-target: "\f12a";
    $font-Flaticon-044-tetris: "\f12b";
    $font-Flaticon-045-tic-tac-toe: "\f12c";
    $font-Flaticon-046-treasure: "\f12d";
    $font-Flaticon-047-video-game: "\f12e";
    $font-Flaticon-048-videogame: "\f12f";
    $font-Flaticon-049-videogame-1: "\f130";
    $font-Flaticon-050-videogame-2: "\f131";