*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:18px;
  margin: 0px;
  background-color:#f2f5f9;
}
.container{
  width:1200px;
  margin: 0 auto;
}
.header{
  background-color:#fdfdfd;
  height:71px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.logo{
  float:left;
}
.logo img{
  margin-top: 19px;
}
.navbar{
  list-style:none;
  text-decoration:none;
  float: right;
}
.navbar ul{
  padding: 0;
  margin:0;
  font-size: 0;
}
.navbar ul li{
  display: inline-block;
  height:71px;
  line-height:71px;
  text-align:center;
  margin: 0;
}
.navbar i{
  font-size:25px;
  color:#24cd77;
  margin-right:8px;
}
.navbar ul li:hover{
  background:#f5f5f5;
}
.navbar ul li a{
  display:block;
  text-decoration:none solid;
  color:#666666;
  font-size:15px;
  font-weight: 700;
  padding: 0 15px;
}
.site{
  padding-top:40px;
}
.sag{
  float:right;
  width:850px;
}
.sol{
  float:left;
  width:320px;
}
.clear{
  clear:both;
}
.kategori{
  width:320px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
  background-color:#fff;
}
.head{
  background-color:#24cd77;
  height:56px;
  line-height:56px;
  color:#ffffff;
  font-size: 18px;
  font-weight:400;
  padding-left:15px;
}
.oyunlar{
  height:40px;
  line-height: 40px;
  background-color: #fafafa;
  border-bottom:1px solid #eee;
}
.oyunlar a{
  color:#616161;;
  text-decoration:none;
  font-size:16px;
  font-weight: 600;
  display: block;
}
.oyunlar a:hover{
  color:#24cd77;
}
.cesit{
  padding-left:5px;
  width:47%;
  font-size:14px;
  height:46px;
  line-height:46px;
  display:inline-block;
  margin-left:2px;
}
.cesit a{
  text-decoration:none;
  color:#666;
}
.cesit a i{
  font-size:22px;
}
.cesit a:hover{
  color:#5ba5fa;
}
.apps{
  width:850px;
}
.apps-head{
  background-color:#fbfbfb;
  padding:0 9px;
  height:56px;
  line-height:56px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}
.apps-head-oyunlar{
  float: left;
  font-size:18px;
  color:#666;
}
.apps-head-sıralama{
  float: right;
  font-size: 13px;
  font-weight: 400;
  color:#666;
}
.sıralama{
  display: inline-block;
  border:1px solid #24cd77;
  height: 25px;
  line-height:25px;
  padding:0 5px;
}
.sıralama a{
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color:#666;
}
.apk-list{
  background-color:#fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
  padding:9px 7px;
}
.apk-box{
  width:25%;
  height:245px;
  display: inline-block;
  float: left;
  text-align: center;
  padding-top:25px;
}
.apk-box img{
  padding:0 39px;
}
.star{
  margin-top:8px;
  font-size:15px;
  color:#fa8b15;
}
.apk-box:hover{
  background-color:#f5f7fa;
}
.apk-box a{
  text-decoration: none;
  color:#666;
  font-weight:600;
}
.apk-box:hover a p{
    color: #00A6ED;
}
.apk-box .button{
  display: none;
  background-color: #24cd77;
  color:#fff;
  text-align:center;
  min-width: 100px;
  border:0;
  border-radius:3px;
  text-decoration:none;
  line-height: 24px;
  margin-top:8px;
}
.apk-box:hover .button{
  display: inline-block;
}
.footer{
  background-color:#fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
  padding-top:25px;
  height:400px;
  margin-top:60px;
}
.footer-1{
  float:left;
  width: 25%;
}
.footer-1 ul{
  margin-left: 15px;
}
.footer-1 p{
  font-size: 18px;
  color:#333333;
  line-height:24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-1 a{
  color:#666;
  text-decoration:none;
}
.footer-1 a:hover{
  color:#00a6ed;
}
.footer-1 li{
  padding:4px 0;
}
.footer-2{
  float:left;
  width:25%;
}
.footer-2 ul{
  margin-left: 15px;
}
.footer-2 p{
  font-size: 18px;
  color:#333333;
  line-height:24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-2 a{
  color:#666;
  text-decoration:none;
}
.footer-2 a:hover{
  color:#00a6ed;
}
.footer-2 li{
  padding:4px 0;
}
.takipedin{
  margin-bottom:65px;
}
.takipedin ul{
  padding:0;
  margin:0;
}
.takipedin li{
  list-style: none;
}
.footer-3{
  float:left;
  width:25%;
}
.footer-3 ul{
  margin-left: 15px;
}
.footer-3 p{
  font-size: 18px;
  color:#333333;
  line-height:24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-3 a{
  color:#666;
  text-decoration:none;
}
.footer-3 a:hover{
  color:#00a6ed;
}
.footer-3 li{
  padding:4px 0;
}
.footer-4{
  float:left;
  width:25%;
}
.footer-4 ul{
  margin-left: 15px;
}
.footer-4 p{
  font-size: 18px;
  color:#333333;
  line-height:24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-4 a{
  color:#666;
  text-decoration:none;
}
.footer-4 a:hover{
  color:#00a6ed;
}
.footer-4 li{
  padding:4px 0;
}
