<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ApkPure</title>
    <link rel="stylesheet" href="assent/css/giris.css">
    <link rel="stylesheet" href="assent/icon\font-1\css\font-awesome.min.css">
  </head>
  <body>
      <div class="header">
          <div class="container">
            <div class="logo">
              <a href="index.html"><img src="assent/images\indir.png" alt="logo"></a>
            </div>
            <div class="navbar">
              <ul>
                <li><a href=""><i class="fa fa-gamepad"></i>OYUNLAR</a></li>
                <li><a href=""><i class="fa fa-android"></i>UYGULAMALAR</a></li>
                <li><a href=""><i class="fa fa-bars"></i>KONULAR</a></li>
                <li><a href=""><i class="fa fa-cube"></i>ÜRÜNLER</a></li>
                <li style="background:#f5f5f5;"><a href="#"><i class="fa fa-user-circle" style="color:#dedede;text-align:center;padding:0 auto;font-size:30px"></i></a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="site" id="giris">
        <div class="container">
          <div align="center">
            <div class="giris">
              <h2>Kulanıcı Girişi</h2>
              <form class="" action="index.html" method="post">
                <input type="text" name="" value="" placeholder="Kullanıcı Adı">
                <input type="password" name="" value="" placeholder="Şifre">
                <input class="button" type="button" name="" value="Giriş Yap">
              </form>
              <a href="#">Yeni Kullanıcı</a>
              <div class="sosyal">
                <a href=""><i class="fa fa-facebook-square fa-4x" style="color:#3b57a0"></a></i>
                <a href=""><i class="fa fa-google fa-4x" style="color:#d95134"></i></a>
                <a href=""><i class="fa fa-twitter-square fa-4x" style="color:#00abeb"></i></a>
              </div>
            </div>
          </div>
        </div><!--  container bitis -->
      </div><!-- site bitis -->
      <div class="footer">
        <div class="container">
          <div class="footer-1">
            <p>ÇÖZÜMLER</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
            <p style="margin-top:15px;">MÜŞTERİ HİZMETLERİ</p>
            <ul>
              <li><a href="">Geliştirici Konsolu</a></li>
              <li><a href="">Uygulamanızı Gönderin</a></li>
              <li><a href="">Hakkımızda</a></li>
              <li><a href="">Bizimle İletişime Geçin</a></li>
              <li><a href="">Kötüye kullanım bildir</a></li>
              <li><a href="">İşbirliği</a></li>
            </ul>
          </div>
          <div class="footer-2">
            <div class="takipedin"><p>Bizi Takip Edin</p>
            <ul>
              <li><a href=""><i class="fa fa-facebook-official fa-lg" style="color:#3b5998;"></i> Mobil Sürümü</a></li>
              <li><a href=""><i class="fa fa-twitter-square fa-lg" style="color:#1ab2e8;"></i> Mobil Sürümü</a></li>
              <li><a href=""><i class="fa fa-google-plus-square fa-lg" style="color:#e74c3c;"></i> Mobil Sürümü</a></li>
            </ul>
          </div>
            <p style="margin-top:15px;">Top Developers & Partners</p>
            <ul>
              <li><a href="">Deals & Promo Codes</a></li>
              <li><a href="">Gameloft</a></li>
              <li><a href="">Supercell</a></li>
              <li><a href="">NEXON</a></li>
              <li><a href="">BANDAI Inc</a></li>
            </ul>
          </div>
          <div class="footer-3">
            <p>EN İYİ ANDROID <br>UYGULAMALAR</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
          </div>
          <div class="footer-4">
            <p>ÇÖZÜMLER</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
            <p style="margin-top:15px;">MÜŞTERİ HİZMETLERİ</p>
            <ul>
              <li><a href="">Geliştirici Konsolu</a></li>
              <li><a href="">Uygulamanızı Gönderin</a></li>
              <li><a href="">Hakkımızda</a></li>
              <li><a href="">Bizimle İletişime Geçin</a></li>
              <li><a href="">Kötüye kullanım bildir</a></li>
              <li><a href="">İşbirliği</a></li>
            </ul>
          </div>
        </div><!-- container bitiş -->
      </div><!-- footer bitiş-->
  </body>
</html>
