
<html>
  <head>
    <meta charset="utf-8">
    <title>ApkPure</title>
    <link rel="stylesheet" href="assent/css\style.css">
    <link rel="stylesheet" href="assent/icon\font-1\css\font-awesome.min.css">
  </head>
  <body>
      <div class="header">
          <div class="container">
            <div class="logo">
              <a href="index.html"><img src="assent/images/indir.png" alt="logo"></a>
            </div>
            <div class="navbar">
              <ul>
                <li><a href="kategori\kategori.html"><i class="fa fa-gamepad"></i>OYUNLAR</a></li>
                <li><a href="kategori\kategori.html"><i class="fa fa-android"></i>UYGULAMALAR</a></li>
                <li><a href=""><i class="fa fa-bars"></i>KONULAR</a></li>
                <li><a href=""><i class="fa fa-cube"></i>ÜRÜNLER</a></li>
                <li style="background:#f5f5f5;"><a href="#"><i class="fa fa-user-circle" style="color:#dedede;text-align:center;padding:0 auto;font-size:30px"></i></a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="site">
        <div class="container">
          <div class="sol">
            <div class="slider">
              <img src="assent/images/slider.jpg" alt="slider">
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Keşfet »</a>
                  <div class="carddahafazla">
                    <a href="#">Daha Fazla »</a>
                  </div>
                </div>
                <div class="card-list">
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>


                </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Keşfet »</a>
                  <div class="carddahafazla">
                    <a href="#">Daha Fazla »</a>
                  </div>
                </div>
                <div class="card-list">
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>


                </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Keşfet »</a>
                  <div class="carddahafazla">
                    <a href="#">Daha Fazla »</a>
                  </div>
                </div>
                <div class="card-list">
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <span>Activision Games</span><br>
                      <span>25.12.2018</span>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Keşfet »</a>
                  <div class="carddahafazla">
                    <a href="#">Daha Fazla »</a>
                  </div>
                </div>
                <div class="card-list">
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Keşfet »</a>
                  <div class="carddahafazla">
                    <a href="#">Daha Fazla »</a>
                  </div>
                </div>
                <div class="card-list">
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Keşfet »</a>
                  <div class="carddahafazla">
                    <a href="#">Daha Fazla »</a>
                  </div>
                </div>
                <div class="card-list">
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                  <div class="apk">
                      <div class="apkimg"><a href=""><img src="assent/images/apk.png" alt=""></a></div>
                      <div class="apkhead"><a href>Lulubox</a></div>
                      <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> 9.5</div>
                      <p>25.12.2018</p>
                      <a href="" class="button">İndir APK</a>
                  </div>
                </div>
            </div>
          </div><!-- sol bitis-->
          <div class="sag">
            <div class="arananlar">
              <div class="arama">
                <form class="search" action="index.html" method="post">
                  <input type="search" name="ara" value="" placeholder="APKpure de ara">
                  <button type="button" name="button">
                    <i class="fa fa-search fa-lg"></i>
                  </button>
                </form>
                <div class="clear"></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href=""><i class="fa fa-fire"></i>Lulubox for PUBG</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">derbi tv hd</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">pubg mobile</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">fortnite</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">pubg mobile lite</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">taraftar tv</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">minecraft pocket edition</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">بوبجي</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">gfx tool</a></div>
              </div>
              <div class="trend">
                <div class="cokaranan"><a href="">gta san andreas</a></div>
              </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Trend Uygulamalar »</a>
                </div>
                <div class="card-list">
                  <div class="apk-list">
                      <div class="sıralama" style="background-color:#f3251b;color:#fff;">1</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama" style="background-color:#f77e13;color:#fff;">2</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama" style="background-color:#efab19;color:#fff;">3</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">4</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">5</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">6</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">7</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">8</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">9</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">10</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images/1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Konular »</a>
                  <div class="carddahafazla">
                    <a href="#">Daha Fazla »</a>
                  </div>
                </div>
                <div class="card-list">
                  <div class="konular">
                    <a href=""> <img src="assent/images/konu.jpg" alt=""> </a>
                    <a href=""> <img src="assent/images/konu.jpg" alt=""> </a>
                    <a href=""> <img src="assent/images/konu.jpg" alt=""> </a>
                    <a href=""> <img src="assent/images/konu.jpg" alt=""> </a>
                    <a href=""> <img src="assent/images/konu.jpg" alt=""> </a>
                    <a href=""> <img src="assent/images/konu.jpg" alt=""> </a>
                    <a href=""> <img src="assent/images/konu.jpg" alt=""> </a>
                    <a href=""> <img src="assent/images/konu.jpg" alt=""> </a>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <span class="populer">Popüler Kategoriler</span>
                </div>
                <div class="card-list">
                  <div class=" kategoriler">
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                    <div class="kategori"><a href="kategori\kategori.html"><i class=" fa fa-ship fa-lg"></i> Macera Oyunları</a></div>
                  </div>
                </div>
            </div>
          </div><!-- sag bitis-->
          <div class="clear"></div>
        </div><!--  container bitis -->
      </div><!-- site bitis -->
      <div class="footer">
        <div class="container">
          <div class="footer-1">
            <p>ÇÖZÜMLER</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
            <p style="margin-top:15px;">MÜŞTERİ HİZMETLERİ</p>
            <ul>
              <li><a href="">Geliştirici Konsolu</a></li>
              <li><a href="">Uygulamanızı Gönderin</a></li>
              <li><a href="">Hakkımızda</a></li>
              <li><a href="">Bizimle İletişime Geçin</a></li>
              <li><a href="">Kötüye kullanım bildir</a></li>
              <li><a href="">İşbirliği</a></li>
            </ul>
          </div>
          <div class="footer-2">
            <div class="takipedin"><p>Bizi Takip Edin</p>
            <ul>
              <li><a href=""><i class="fa fa-facebook-official fa-lg" style="color:#3b5998;"></i> Mobil Sürümü</a></li>
              <li><a href=""><i class="fa fa-twitter-square fa-lg" style="color:#1ab2e8;"></i> Mobil Sürümü</a></li>
              <li><a href=""><i class="fa fa-google-plus-square fa-lg" style="color:#e74c3c;"></i> Mobil Sürümü</a></li>
            </ul>
          </div>
            <p style="margin-top:15px;">Top Developers & Partners</p>
            <ul>
              <li><a href="">Deals & Promo Codes</a></li>
              <li><a href="">Gameloft</a></li>
              <li><a href="">Supercell</a></li>
              <li><a href="">NEXON</a></li>
              <li><a href="">BANDAI Inc</a></li>
            </ul>
          </div>
          <div class="footer-3">
            <p>EN İYİ ANDROID <br>UYGULAMALAR</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
          </div>
          <div class="footer-4">
            <p>ÇÖZÜMLER</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
            <p style="margin-top:15px;">MÜŞTERİ HİZMETLERİ</p>
            <ul>
              <li><a href="">Geliştirici Konsolu</a></li>
              <li><a href="">Uygulamanızı Gönderin</a></li>
              <li><a href="">Hakkımızda</a></li>
              <li><a href="">Bizimle İletişime Geçin</a></li>
              <li><a href="">Kötüye kullanım bildir</a></li>
              <li><a href="">İşbirliği</a></li>
            </ul>
          </div>
        </div><!-- container bitiş -->
      </div><!-- footer bitiş-->
  </body>
</html>
