<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ApkPure</title>
    <link rel="stylesheet" href="assent/css/urun.css">
    <link rel="stylesheet" href="assent\icon\font-1\css\font-awesome.min.css">
  </head>
  <body>
      <div class="header">
          <div class="container">
            <div class="logo">
              <a href="index.html"><img src="assent\images\indir.png" alt="logo"></a>
            </div>
            <div class="navbar">
              <ul>
                <li><a href=""><i class="fa fa-gamepad"></i>OYUNLAR</a></li>
                <li><a href=""><i class="fa fa-android"></i>UYGULAMALAR</a></li>
                <li><a href=""><i class="fa fa-bars"></i>KONULAR</a></li>
                <li><a href=""><i class="fa fa-cube"></i>ÜRÜNLER</a></li>
                <li style="background:#f5f5f5;"><a href="#"><i class="fa fa-user-circle" style="color:#dedede;text-align:center;padding:0 auto;font-size:30px"></i></a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="site">
        <div class="container">
          <div class="sol">
            <div class="card">
                <div class="cardhead">
                  <a href="#">Anasayfa</a>»<a href="#">Uygulamalar</a>»<a href="#">Haberleşme</a>» <span style="color:#24cd77;">UC Browser</span>
                  <div class="carddahafazla">
                    <a href="#">Daha Fazla »</a>
                  </div>
                </div>
                <div class="card-list">
                  <div class="indirme">
                    <div class="indirme-resim">
                      <img src="assent/images\indirme.jpg" alt="">
                    </div>
                    <div class="indirme-kismi">
                      <div class="isim">
                        <h1>ROBLOX</h1>
                      </div>
                      <div class="rate">
                        <i class="fa fa-star fa-lg"></i><i class="fa fa-star fa-lg"></i><i class="fa fa-star fa-lg"></i><i class="fa fa-star fa-lg"></i><i class="fa fa-star-half-o fa-lg"></i>
                        9.8
                      </div>
                      <a href="#">Roblox Corporation</a>
                      <div class="indir">
                        <a href="">Apk İndir</a>
                      </div>
                    </div><div class="clear"></div>
                  </div>
                  <div class="oyun-gorsel">
                    <img src="assent/images\görsel.jpg" alt="">
                  </div>
                  <div class="oyun-acıklama">
                    <h2>ROBLOX Açıklaması</h2><br>
                    <p>Join the community of 6 million monthly players and explore amazing worlds from 3D multiplayer games (shooter, RPG, MMO) to interactive adventures where friends construct lumber mills, or build and fly spaceships. Welcome to the ultimate virtual universe powered by imagination where anyone can create adventures, play games, role play, and learn with their friends.
                      <br><br>GAME EXAMPLES
                      <br>- Play paintball with your friends
                      <br>- Run a pizza shop
                      <br>- Explore other galaxies
                      <br>- Outmaneuver enemy jets
                      <br>- Battle pirates
                      <br>- Race opponents through obstacle courses
                      <br>- Combat zombies
                      <br>- Star in a fashion show
                      <br>- Hang out with your friends in a virtual club
                    </p>
                  </div>
                  <div class="oyun-ekbilgi">

                  </div>
                </div>
            </div>
          </div><!-- sol bitis-->
          <div class="sag">
            <div class="card">
                <div class="cardhead">
                  <a href="#">Discover »</a>
                </div>
                <div class="card-list">
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                  <div class="apk-list">
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p>Haberleşme</p>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="cardhead">
                  <a href="#">Trend Uygulamalar »</a>
                </div>
                <div class="card-list">
                  <div class="apk-list">
                      <div class="sıralama" style="background-color:#f3251b;color:#fff;">1</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama" style="background-color:#f77e13;color:#fff;">2</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama" style="background-color:#efab19;color:#fff;">3</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">4</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">5</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">6</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">7</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">8</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">9</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                  <div class="apk-list">
                      <div class="sıralama">10</div>
                      <div class="apk-list-img"><a href=""><img src="assent/images\1.png" alt=""></a></div>
                      <div class="apk-list-head"><a href>Lulubox</a></div>
                      <div class="apk-list-version"> 6.13.1.0</div>
                      <p class="a">Haberleşme</p>
                      <a href="" class="apk-list-button">İndir APK</a>
                  </div>
                </div>
            </div>
          </div><!-- sag bitis-->
          <div class="clear"></div>
        </div><!--  container bitis -->
      </div><!-- site bitis -->
      <div class="footer">
        <div class="container">
          <div class="footer-1">
            <p>ÇÖZÜMLER</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
            <p style="margin-top:15px;">MÜŞTERİ HİZMETLERİ</p>
            <ul>
              <li><a href="">Geliştirici Konsolu</a></li>
              <li><a href="">Uygulamanızı Gönderin</a></li>
              <li><a href="">Hakkımızda</a></li>
              <li><a href="">Bizimle İletişime Geçin</a></li>
              <li><a href="">Kötüye kullanım bildir</a></li>
              <li><a href="">İşbirliği</a></li>
            </ul>
          </div>
          <div class="footer-2">
            <div class="takipedin"><p>Bizi Takip Edin</p>
            <ul>
              <li><a href=""><i class="fa fa-facebook-official fa-lg" style="color:#3b5998;"></i> Mobil Sürümü</a></li>
              <li><a href=""><i class="fa fa-twitter-square fa-lg" style="color:#1ab2e8;"></i> Mobil Sürümü</a></li>
              <li><a href=""><i class="fa fa-google-plus-square fa-lg" style="color:#e74c3c;"></i> Mobil Sürümü</a></li>
            </ul>
          </div>
            <p style="margin-top:15px;">Top Developers & Partners</p>
            <ul>
              <li><a href="">Deals & Promo Codes</a></li>
              <li><a href="">Gameloft</a></li>
              <li><a href="">Supercell</a></li>
              <li><a href="">NEXON</a></li>
              <li><a href="">BANDAI Inc</a></li>
            </ul>
          </div>
          <div class="footer-3">
            <p>EN İYİ ANDROID <br>UYGULAMALAR</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
          </div>
          <div class="footer-4">
            <p>ÇÖZÜMLER</p>
            <ul>
              <li><a href="">Mobil Sürümü</a></li>
              <li><a href="">Android İçin APKPure</a></li>
              <li><a href="">APK Yükle</a></li>
              <li><a href="">APK İndirici(Bölge sınırlamasız)</a></li>
              <li><a href="">APK İmza Doğrulama</a></li>
            </ul>
            <p style="margin-top:15px;">MÜŞTERİ HİZMETLERİ</p>
            <ul>
              <li><a href="">Geliştirici Konsolu</a></li>
              <li><a href="">Uygulamanızı Gönderin</a></li>
              <li><a href="">Hakkımızda</a></li>
              <li><a href="">Bizimle İletişime Geçin</a></li>
              <li><a href="">Kötüye kullanım bildir</a></li>
              <li><a href="">İşbirliği</a></li>
            </ul>
          </div>
        </div><!-- container bitiş -->
      </div><!-- footer bitiş-->
  </body>
</html>
